{{>header}}
  <h1>{{title}} {{name}}</h1>
  <div>
  <form>
    <input placeholder="Type location here">
    <button>Search</button>
  </form>
</div>
<p id="location"></p>
<p id="errorm"></p>
   
{{>footer}}